/*doc
---
title: Content
name: content
category: Typography
---

Content which should respect typesettings should be wrapped in a `typeset` class:

```html_example
<article>
  <header>
    <h1>My Article</h1>
  </header>
  <section class="typeset">
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    </p>
    <p>
      Curabitur ullamcorper velit et nisl fermentum <a href="#">molestie</a>. Maecenas justo orci, rutrum et vestibulum at, consectetur id ex. Aliquam erat volutpat. Mauris eleifend sed odio eu lacinia. Donec non dolor tempus, finibus velit vel, <a href="#">consequat justo</a>. Mauris at nisl metus. Donec sit amet lacus tincidunt, pulvinar velit sollicitudin, lacinia urna. Praesent nisi dolor, mollis convallis pellentesque non, blandit quis ligula. Nam sed purus lacinia, blandit felis et, vehicula nisi. Donec consequat augue est, mattis fringilla ipsum facilisis eget.
    </p>
    <blockquote>
      <p>
        Light thinks it travels faster than anything but it is wrong. No matter how fast light travels, it finds the darkness has always got there first, and is waiting for it.
      </p>
      <p>&mdash; <a href="https://en.wikipedia.org/wiki/Terry_Pratchett">Terry Pratchett</a></p>
    </blockquote>
    <p>
      Integer est velit, condimentum id urna quis, placerat molestie diam. Quisque tempus, augue in laoreet tempus, turpis nibh <a href="#">placerat elit</a>, et malesuada augue lectus sed augue. Etiam vel sem nec mi accumsan rutrum. Nullam sed egestas sem. Nam pulvinar tortor a purus fringilla, eu posuere tortor porttitor. Nulla sit amet magna porttitor, lobortis urna a, hendrerit nulla. Sed sed dictum augue, et facilisis risus. Quisque sed sem sodales, consequat tellus id, mattis nulla. Proin quis hendrerit nisi, eget mollis tellus. Sed dapibus elementum ex vel mollis.
    </p>
    <pre><code>.css-example {
  color: red;
  background: url(/foo/bar.jpg);
}</code></pre>
    <p>
      Curabitur ullamcorper velit et nisl fermentum <a href="#">molestie</a>. Maecenas justo orci, rutrum et vestibulum at, consectetur id ex. Aliquam erat volutpat. Mauris eleifend sed odio eu lacinia. Donec non dolor tempus, finibus velit vel, <a href="#">consequat justo</a>. Mauris at nisl metus. Donec sit amet lacus tincidunt, pulvinar velit sollicitudin, lacinia urna. Praesent nisi dolor, mollis convallis pellentesque non, blandit quis ligula. Nam sed purus lacinia, blandit felis et, vehicula nisi. Donec consequat augue est, mattis fringilla ipsum facilisis eget.
    </p>
    <ul>
      <li>Foo</li>
      <li>Bar</li>
      <li>Baz</li>
    </ul>
    <p>
      Integer est velit, condimentum id urna quis, placerat molestie diam. Quisque tempus, augue in laoreet tempus, turpis nibh <a href="#">placerat elit</a>, et malesuada augue lectus sed augue. Etiam vel sem nec mi accumsan rutrum. Nullam sed egestas sem. Nam pulvinar tortor a purus fringilla, eu posuere tortor porttitor. Nulla sit amet magna porttitor, lobortis urna a, hendrerit nulla. Sed sed dictum augue, et facilisis risus. Quisque sed sem sodales, consequat tellus id, mattis nulla. Proin quis hendrerit nisi, eget mollis tellus. Sed dapibus elementum ex vel mollis.
    </p>
    <ol>
      <li>Foo</li>
      <li>Bar</li>
      <li>Baz</li>
    </ol>
    <p>
      Curabitur ullamcorper velit et nisl fermentum <a href="#">molestie</a>. Maecenas justo orci, rutrum et vestibulum at, consectetur id ex. Aliquam erat volutpat. Mauris eleifend sed odio eu lacinia. Donec non dolor tempus, finibus velit vel, <a href="#">consequat justo</a>. Mauris at nisl metus. Donec sit amet lacus tincidunt, pulvinar velit sollicitudin, lacinia urna. Praesent nisi dolor, mollis convallis pellentesque non, blandit quis ligula. Nam sed purus lacinia, blandit felis et, vehicula nisi. Donec consequat augue est, mattis fringilla ipsum facilisis eget.
    </p>
  </section>
</article>
```
*/
p, blockquote {
  margin: var(--content-margin);
}

.typeset :matches(ol, ul) {
  margin: var(--list-margin);
}

p, li {
  font-feature-settings: var(--content-font-feature-settings);
}

.lead {
  color: color(var(--body-color) l(-10%));
  font-size: calc(var(--font-size-base) * 1.25);
  font-weight: 300;
}

article :matches(p, li) {
  color: var(--content-color);
}

blockquote {
  quotes: none;
  margin-left: -1rem;
  border-left: 0.15rem solid var(--color-primary);
}

blockquote p {
  font-family: var(--font-family-serif);
  font-style: italic;
  padding: 0.5rem 0 0.5rem 1rem;
}

code, pre {
  background-color: color(var(--color-secondary) l(+33%));
}

pre {
  font-family: var(--font-family-mono);
  margin: var(--pre-margin);
  padding: var(--pre-padding);
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

pre > code {
  padding: 0
}

code {
  font-size: 0.9rem;
  line-height: 1.8rem;
  padding: 0 0.2rem;
  color: color(var(--content-color) b(+10%));
}

/* Style underline in a way it does not interfere with the descender of our font
 * https://en.wikipedia.org/wiki/Descender
 *
 * As we use text-shadow to hide the decoration, we are unable to use the actual
 * text-decoration property, emulating by using a background :)
 */
.typeset a:hover {
  background-image: linear-gradient(to bottom, transparent 50%, var(--link-color) 50%);
  background-position: 0 85%;
  background-repeat: repeat-x;
  background-size: 100% 1px;
  text-shadow:  0.10rem 0 var(--body-background-color),
                0.15rem 0 var(--body-background-color),
               -0.10rem 0 var(--body-background-color),
               -0.15rem 0 var(--body-background-color);
}

