/*doc
---
title: AdCSSy - Styleguide
name: adcssy
category: Basics
---

This is the [Adfinis SyGroup AG](http://adfinis-sygroup.ch/) CSS Framework Guide

*/
@import 'variables.css';
@import 'colors/index.css';
@import 'fonts/index.css';
@import 'global/index.css';
@import 'grid/index.css';
@import 'typography/index.css';
@import 'nav/index.css';
@import 'table/index.css';
@import 'form/index.css';
@import 'login/index.css';
@import 'alerts/index.css';
@import 'pagination/index.css';
@import 'tabs/index.css';
@import 'breadcrumb/index.css';
@import 'list-group/index.css';
@import 'card/index.css';
@import 'modal/index.css';
