/*doc
---
title: AdCSSy - Styleguide
name: adcssy
category: Basics
---

This is the [Adfinis SyGroup AG](http://adfinis-sygroup.ch/) CSS Framework Guide

*/
@import 'colors/index';
@import 'fonts/index';
@import 'global/index';
@import 'grid/index';
@import 'typography/index';
@import 'nav/index';
@import 'table/index';
@import 'form/index';
