.login-form {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 0 auto;
}

.login-form > form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.login-form .btn-primary {
  margin-bottom: 1rem;
}

.login-form-user, .login-form-email, .login-form-password {
  position: relative;
}

:matches(.login-form-user, .login-form-email, .login-form-password)::before {
  font-family: 'FontAwesome';
  position: absolute;
  top: 8px;
  left: 1rem;
  /* Font-Awesome is not monospaced! Set width and center.. *sigh* */
  width: 16px;
  text-align: center;
}

.login-form-user::before {
  content: '\f007';
}

.login-form-email::before {
  content: '\f0e0';
}

.login-form-password::before {
  content: '\f023';
}

@media (--sm-viewport) {
  .login-form {
    width: 670px;
  }

  .login-form > form {
    flex-direction: row;
  }

  .login-form--password-reset {
    width: auto;
  }

  .login-form--password-reset > form {
    flex-direction: column;
  }

  .login-form .btn-primary {
    margin-bottom: 0;
  }

  .login-form-password-reset {
    margin-top: 0.5rem;
  }

  .login-form--password-reset .btn {
    width: 100%;
  }
}
