/*doc
---
title: Login Page
name: login
category: Login
---

Example login page:

```html_example
<div class="page page-login">
  <div class="page-viewport">
    <main class="page-content">
      <div class="login-form fade-in">
        <form class="form-inline">
          <div class="form-group login-form-email">
            <input type="email" class="form-control" placeholder="Email Address" autofocus>
          </div>
          <div class="form-group login-form-password">
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <button class="login-form-password-reset-btn btn btn-link">Forgot password?</button>
      </div>
    </main>
  </div>
</div>
```

Example login password reset page:

```html_example
<div class="page page-login">
  <div class="page-viewport">
    <main class="page-content">
      <div class="login-form login-form--password-reset">
        <form class="fade-in">
          <div class="form-group login-form-email">
            <input type="email" class="form-control" placeholder="Email Address" autofocus>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Send new password</button>
          </div>
        </form>
        <a href="login.html" class="btn btn-link">Back to login</a>
      </div>
    </main>
  </div>
</div>
```
*/
@import 'page.css';
@import 'form.css';
