/*doc
---
title: Modal
name: modal
category: Components
---
Basic modal dialog:

```html_example
<button class="btn btn-primary" onclick="document.getElementById('example-modal').classList.add('modal--visible')">
  Show Modal
</button>
<div class="modal" id="example-modal">
  <div class="modal-dialog">
    <div class="modal-header">
      Example Modal Title
      <button type="button" class="close" aria-label="Close" onclick="this.parentNode.parentNode.parentNode.classList.remove('modal--visible')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        Curabitur ullamcorper velit et nisl fermentum <a href="#">molestie</a>.
        Maecenas justo orci, rutrum et vestibulum at, consectetur id ex. Aliquam
        erat volutpat. Mauris eleifend sed odio eu lacinia. Donec non dolor
        tempus, finibus velit vel, <a href="#">consequat justo</a>. Mauris at
        nisl metus. Donec sit amet lacus tincidunt, pulvinar velit sollicitudin,
        lacinia urna. Praesent nisi dolor, mollis convallis pellentesque non,
        blandit quis ligula. Nam sed purus lacinia, blandit felis et, vehicula
        nisi. Donec consequat augue est, mattis fringilla ipsum facilisis eget.
      </p>
      <p>
        Curabitur ullamcorper velit et nisl fermentum <a href="#">molestie</a>.
        Maecenas justo orci, rutrum et vestibulum at, consectetur id ex. Aliquam
        erat volutpat. Mauris eleifend sed odio eu lacinia. Donec non dolor
        tempus, finibus velit vel, <a href="#">consequat justo</a>. Mauris at
        nisl metus. Donec sit amet lacus tincidunt, pulvinar velit sollicitudin,
        lacinia urna. Praesent nisi dolor, mollis convallis pellentesque non,
        blandit quis ligula. Nam sed purus lacinia, blandit felis et, vehicula
        nisi. Donec consequat augue est, mattis fringilla ipsum facilisis eget.
      </p>
      <p>
        Curabitur ullamcorper velit et nisl fermentum <a href="#">molestie</a>.
        Maecenas justo orci, rutrum et vestibulum at, consectetur id ex. Aliquam
        erat volutpat. Mauris eleifend sed odio eu lacinia. Donec non dolor
        tempus, finibus velit vel, <a href="#">consequat justo</a>. Mauris at
        nisl metus. Donec sit amet lacus tincidunt, pulvinar velit sollicitudin,
        lacinia urna. Praesent nisi dolor, mollis convallis pellentesque non,
        blandit quis ligula. Nam sed purus lacinia, blandit felis et, vehicula
        nisi. Donec consequat augue est, mattis fringilla ipsum facilisis eget.
      </p>
      <p>
        Curabitur ullamcorper velit et nisl fermentum <a href="#">molestie</a>.
        Maecenas justo orci, rutrum et vestibulum at, consectetur id ex. Aliquam
        erat volutpat. Mauris eleifend sed odio eu lacinia. Donec non dolor
        tempus, finibus velit vel, <a href="#">consequat justo</a>. Mauris at
        nisl metus. Donec sit amet lacus tincidunt, pulvinar velit sollicitudin,
        lacinia urna. Praesent nisi dolor, mollis convallis pellentesque non,
        blandit quis ligula. Nam sed purus lacinia, blandit felis et, vehicula
        nisi. Donec consequat augue est, mattis fringilla ipsum facilisis eget.
      </p>
      <p>
        Curabitur ullamcorper velit et nisl fermentum <a href="#">molestie</a>.
        Maecenas justo orci, rutrum et vestibulum at, consectetur id ex. Aliquam
        erat volutpat. Mauris eleifend sed odio eu lacinia. Donec non dolor
        tempus, finibus velit vel, <a href="#">consequat justo</a>. Mauris at
        nisl metus. Donec sit amet lacus tincidunt, pulvinar velit sollicitudin,
        lacinia urna. Praesent nisi dolor, mollis convallis pellentesque non,
        blandit quis ligula. Nam sed purus lacinia, blandit felis et, vehicula
        nisi. Donec consequat augue est, mattis fringilla ipsum facilisis eget.
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" onclick="this.parentNode.parentNode.parentNode.classList.remove('modal--visible')">
        Close
      </button>
    </div>
  </div>
</div>
```

Modal sizes:

- `modal-dialog--small`
- `modal-dialog--large`
- `modal-dialog--fullscreen`
- `modal-dialog--auto`

```html_example
<button class="btn btn-primary" onclick="document.getElementById('example-modal-small').classList.add('modal--visible')">
  Show Small Modal
</button>
<button class="btn btn-primary" onclick="document.getElementById('example-modal-large').classList.add('modal--visible')">
  Show Large Modal
</button>
<button class="btn btn-primary" onclick="document.getElementById('example-modal-fullscreen').classList.add('modal--visible')">
  Show Fullscreen Modal
</button>
<button class="btn btn-primary" onclick="document.getElementById('example-modal-auto').classList.add('modal--visible')">
  Show Auto Modal
</button>

<div class="modal" id="example-modal-small">
  <div class="modal-dialog modal-dialog--small">
    <div class="modal-header">
      Small Modal Title
      <button type="button" class="close" aria-label="Close" onclick="this.parentNode.parentNode.parentNode.classList.remove('modal--visible')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Small modal content!</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" onclick="this.parentNode.parentNode.parentNode.classList.remove('modal--visible')">
        Close
      </button>
    </div>
  </div>
</div>

<div class="modal" id="example-modal-large">
  <div class="modal-dialog modal-dialog--large">
    <div class="modal-header">
      Large Modal Title
      <button type="button" class="close" aria-label="Close" onclick="this.parentNode.parentNode.parentNode.classList.remove('modal--visible')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Large modal content!</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" onclick="this.parentNode.parentNode.parentNode.classList.remove('modal--visible')">
        Close
      </button>
    </div>
  </div>
</div>

<div class="modal" id="example-modal-fullscreen">
  <div class="modal-dialog modal-dialog--fullscreen">
    <div class="modal-header">
      Fullscreen Modal Title
      <button type="button" class="close" aria-label="Close" onclick="this.parentNode.parentNode.parentNode.classList.remove('modal--visible')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Fullscreen modal content!</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" onclick="this.parentNode.parentNode.parentNode.classList.remove('modal--visible')">
        Close
      </button>
    </div>
  </div>
</div>

<div class="modal" id="example-modal-auto">
  <div class="modal-dialog modal-dialog--auto">
    <div class="modal-header">
      Auto Modal Title
      <button type="button" class="close" aria-label="Close" onclick="this.parentNode.parentNode.parentNode.classList.remove('modal--visible')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Auto modal content!</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" onclick="this.parentNode.parentNode.parentNode.classList.remove('modal--visible')">
        Close
      </button>
    </div>
  </div>
</div>
```
*/

.modal {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1.5rem;
  opacity: 0;
  position: fixed;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
  transition: opacity .5s ease;
}

.modal--visible {
  pointer-events: all;
  opacity: 1;
}

.modal-dialog {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  z-index: 1002;
  width: 100%;
  margin-top: 100%;
  border: thin solid var(--color-border);
  border-radius: var(--modal-border-radius);
  box-shadow: 0 0 0.5rem 0.3rem rgba(0, 0, 0, 0.25);
  transition: margin-top 0.75s ease;
}

.modal--visible .modal-dialog {
  margin-top: 0;
}

.modal-header, .modal-body, .modal-footer {
  background-color: var(--color-modal);
}

.modal-header, .modal-footer {
  padding: 0.7rem;
}

.modal-header {
  border-bottom: thin solid var(--modal-line-color);
}

.modal-header {
  font-size: 1.3rem;
  font-weight: bold;
}

.modal-header :matches(h1, h2, h3, h4, h5) {
  display: inline-block;
  margin: 0;
}

.modal-body {
  padding: 1.4rem 0.7rem;
  overflow-y: auto;
  flex-shrink: 1;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  border-top: thin solid var(--modal-line-color);
}

@media (--md-viewport) {
  .modal-dialog:not(
    .modal-dialog--fullscreen,
    .modal-dialog--auto,
    .modal-dialog--small,
    .modal-dialog--large
  ) {
    width: var(--modal-width-medium);
  }

  .modal-dialog--small {
    width: var(--modal-width-small);
  }

  .modal-dialog--large {
    width: 1000px;
  }

  .modal-dialog--auto {
    width: auto;
  }

}
