.exampleOutput {
  display: flex;
  border: 1px solid rgb(224, 224, 224);
  padding: 3rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.codeBlock pre {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.example-grid-content {
  background: rgb(224, 224, 224);
  display: flex;
}

.exampleOutput .btn + .btn {
  margin-left: 1rem;
}
