/*doc
---
title: List Group
name: list-group
category: Components
---

List group:

```html_example
<div class="list-group">
  <div class="list-group-item">Something</div>
  <div class="list-group-item active">An active something</div>
  <div class="list-group-item">Something</div>
  <div class="list-group-item">Something</div>
</div>
```

Remove left and right border from list-group with `list-group--flush`, for example to be used with a `card` component:

```html_example
<div class="card" style="max-width:400px">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="list-group list-group--flush">
    <div class="list-group-item">Something</div>
    <div class="list-group-item active">An active something</div>
    <div class="list-group-item">Something</div>
    <div class="list-group-item">Something</div>
  </div>
</div>
```

*/
.list-group {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid var(--color-border);
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.list-group-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.list-group--flush .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
