/*doc
---
title: Table
name: table
category: Table
---
Basic usage:

```html_example
<table class="table">
  <thead>
    <tr><th>#</th><th>Foo</th></tr>
  </thead>
  <tbody>
    <tr><td>1</th><td>Bar</td></tr>
    <tr><td>2</th><td>Baz</td></tr>
  </tbody>
</table>
```

Modifiers:

- `table--bordered` Add border around a table
- `table--striped` Add stripes to `tbody` rows
- `table--hover` Add hover effect over `tbody` rows

```html_example
<table class="table table--striped table--hover table--bordered">
  <thead>
    <tr><th>#</th><th>Foo</th></tr>
  </thead>
  <tbody>
    <tr><td>1</th><td>Bar</td></tr>
    <tr><td>2</th><td>Baz</td></tr>
    <tr><td>3</th><td>Bar</td></tr>
    <tr><td>4</th><td>Baz</td></tr>
    <tr><td>5</th><td>Bar</td></tr>
    <tr><td>6</th><td>Baz</td></tr>
    <tr><td>7</th><td>Bar</td></tr>
    <tr><td>8</th><td>Baz</td></tr>
  </tbody>
</table>
```

Table row states:

```html_example
<table class="table table--striped table--hover table--bordered">
  <thead>
    <tr><th>#</th><th>Foo</th></tr>
  </thead>
  <tbody>
    <tr class="primary"><td>1</th><td>Bar</td></tr>
    <tr class="success"><td>2</th><td>Baz</td></tr>
    <tr class="info"><td>3</th><td>Bar</td></tr>
    <tr class="warning"><td>4</th><td>Baz</td></tr>
    <tr class="danger"><td>5</th><td>Bar</td></tr>
  </tbody>
</table>
```

*/
.table {
  display: table;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

.table--bordered {
  border: 1px solid var(--color-border);
}

.table--bordered > :matches(tbody, thead, tfoot) > tr > :--table-cell {
  border: 1px solid var(--color-border);
}

.table--striped > tbody > tr:nth-of-type(2n+1) {
  background-color: color(var(--body-background-color) b(5%));
}

.table--hover > tbody > tr:hover {
  background-color: color(var(--body-background-color) b(7.5%));
}

.table caption {
  color: color(var(--body-color) l(+25%));
  text-align: left;
}

.table > :matches(thead, tbody, tfoot) > tr > :--table-cell {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 1px solid var(--color-border);
}

.table--condensed > :matches(thead, tbody, tfoot) > tr > :--table-cell {
  padding: 0.25rem;
}

.table > thead > tr > th {
  text-align: left;
  vertical-align: bottom;
  border-bottom: 2px solid var(--color-border);
}

.table > thead:first-child > tr:first-child > :--table-cell {
  border-top: 0;
}

.table > :matches(caption, colgroup) + thead > tr:first-child > :--table-cell {
  border-top: 0;
}

.table > tbody > tr.primary {
  background-color: color(var(--color-primary) l(+22.5%) s(-10%));
}

.table--striped > tbody > tr.primary:nth-of-type(2n+1) {
  background-color: color(var(--color-primary) l(+25%) s(-10%));
}

.table--hover > tbody > tr.primary:hover {
  background-color: color(var(--color-primary) l(+20%));
}

.table tr.success {
  background-color: color(var(--color-success) l(+22.5%) s(-10%));
}

.table--striped > tbody > tr.success:nth-of-type(2n+1) {
  background-color: color(var(--color-success) l(+25%) s(-10%));
}

.table--hover > tbody > tr.success:hover {
  background-color: color(var(--color-success) l(+20%));
}

.table tr.info {
  background-color: color(var(--color-info) l(+22.5%) s(-10%));
}

.table--striped > tbody > tr.info:nth-of-type(2n+1) {
  background-color: color(var(--color-info) l(+25%) s(-10%));
}

.table--hover > tbody > tr.info:hover {
  background-color: color(var(--color-info) l(+20%));
}

.table tr.warning {
  background-color: color(var(--color-warning) l(+22.5%) s(-10%));
}

.table--striped > tbody > tr.warning:nth-of-type(2n+1) {
  background-color: color(var(--color-warning) l(+25%) s(-10%));
}

.table--hover > tbody > tr.warning:hover {
  background-color: color(var(--color-warning) l(+20%));
}

.table tr.danger {
  background-color: color(var(--color-danger) l(+22.5%) s(-10%));
}

.table--striped > tbody > tr.danger:nth-of-type(2n+1) {
  background-color: color(var(--color-danger) l(+25%) s(-10%));
}

.table--hover > tbody > tr.danger:hover {
  background-color: color(var(--color-danger) l(+20%));
}
