.table {
  display: table;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

.table--bordered {
  border: 1px solid var(--color-border);
}

.table--bordered > :matches(tbody, thead, tfoot) > tr > :matches(td, th) {
  border: 1px solid var(--color-border);
}

.table--striped > tbody > tr:nth-of-type(2n+1) {
  background-color: color(var(--body-background-color) b(5%));
}

.table--hover > tbody > tr:hover {
  background-color: color(var(--body-background-color) b(7.5%));
}

.table caption {
  color: color(var(--body-color) l(+25%));
  text-align: left;
}

.table > :matches(thead, tbody, tfoot) > tr > :matches(td, th) {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 1px solid var(--color-border);
}

.table--condensed > :matches(thead, tbody, tfoot) > tr > :matches(td, th) {
  padding: 0.25rem;
}

.table > thead > tr > th {
  text-align: left;
  vertical-align: bottom;
  border-bottom: 2px solid var(--color-border);
}

.table > thead:first-child > tr:first-child > :matches(td, th) {
  border-top: 0;
}

.table > :matches(caption, colgroup) + thead > tr:first-child > :matches(td, th) {
  border-top: 0;
}

.table > tbody > tr.primary {
  background-color: color(var(--color-main) l(+22.5%));
}

.table--striped > tbody > tr.primary:nth-of-type(2n+1) {
  background-color: color(var(--color-main) l(+25%));
}

.table--hover > tbody > tr.primary:hover {
  background-color: color(var(--color-main) l(+20%));
}

.table tr.success {
  background-color: color(var(--color-success) l(+22.5%));
}

.table--striped > tbody > tr.success:nth-of-type(2n+1) {
  background-color: color(var(--color-success) l(+25%));
}

.table--hover > tbody > tr.success:hover {
  background-color: color(var(--color-success) l(+20%));
}

.table tr.info {
  background-color: color(var(--color-info) l(+22.5%));
}

.table--striped > tbody > tr.info:nth-of-type(2n+1) {
  background-color: color(var(--color-info) l(+25%));
}

.table--hover > tbody > tr.info:hover {
  background-color: color(var(--color-info) l(+20%));
}

.table tr.warning {
  background-color: color(var(--color-warning) l(+22.5%));
}

.table--striped > tbody > tr.warning:nth-of-type(2n+1) {
  background-color: color(var(--color-warning) l(+25%));
}

.table--hover > tbody > tr.warning:hover {
  background-color: color(var(--color-warning) l(+20%));
}

.table tr.danger {
  background-color: color(var(--color-danger) l(+22.5%));
}

.table--striped > tbody > tr.danger:nth-of-type(2n+1) {
  background-color: color(var(--color-danger) l(+22.5%));
}

.table--hover > tbody > tr.danger:hover {
  background-color: color(var(--color-danger) l(+20%));
}
