html {
  height:      100%;
  background:  var(--body-background-color);
  color:       var(--body-color);
  font-weight: var(--body-font-weight);
  font-family: var(--body-font-family);
  font-size:   responsive var(--body-min-font-size) var(--body-max-font-size);
  font-range:  var(--body-min-font-size-break) var(--body-max-font-size-break);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  transition: background 0.1s ease 0, color 0.1s ease 0;
}

a:hover, a:active {
  color: var(--link-color-highlight);
}

a:focus {
  outline: thin dotted;
  outline-offset: -1px;
}

a:visited {
  color: var(--link-color-visited);
}

::selection {
  background-color: color(var(--color-primary) l(+25%));
  text-shadow: none;
}
