html {
  height:      100%;
  background:  var(--body-background-color);
  color:       var(--body-color);
  font-family: var(--body-font-family);
  font-size:   responsive var(--body-min-font-size) var(--body-max-font-size);
  font-range:  var(--body-min-font-size-break) var(--body-max-font-size-break);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  transition: background 0.1s ease 0, color 0.1s ease 0;
}

a:hover, a:active {
  color: var(--link-color-highlight);
}

a:focus {
  outline: thin dotted;
  outline-offset: -1px;
}

a:visited {
  color: var(--link-color-visited);
}

::selection {
  background-color: color(var(--color-primary) l(+25%));
  text-shadow: none;
}

.media-debug::before {
  content: 'mo';
  text-transform: uppercase;
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  padding: 5px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color:  var(--color-border);
  background-color: color(var(--color-success) a(70%));
  z-index: 99999;
}

@media (--xs-viewport) {
  .media-debug::before {
    content: 'xs';
    background-color: color(var(--color-success) a(70%) blend(color(var(--color-danger)) 25%));
  }
}

@media (--sm-viewport) {
  .media-debug::before {
    content: 'sm';
    background-color: color(var(--color-success) a(70%) blend(color(var(--color-danger)) 50%));
  }
}

@media (--md-viewport) {
  .media-debug::before {
    content: 'md';
    background-color: color(var(--color-success) a(70%) blend(color(var(--color-danger)) 75%));
  }
}

@media (--lg-viewport) {
  .media-debug::before {
    content: 'lg';
    background-color: color(var(--color-danger) a(70%));
  }
}
