/*doc
---
title: Miscellaneous
name: misc
category: Miscellaneous
---

The link prefix can be used to prepend a '>' to a link.

```html_example
<a href="#" class="link-prefix">Foobar</a>
```

Caret to indicate dropdowns.

```html_example
<span class="caret"></span>
```

Loading dots.

```html_example
<div>
  Loading<span class="loading-dots"><i>.</i><i>.</i><i>.</i></span>
</div>
```

Loading mask.

```html_example
<table class="table table--striped">
  <thead>
    <tr><th>Foo</th><th>Bar</th><th>Baz</th></tr>
  </thead>
  <tbody class="loading-mask">
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td></tr>
  </tbody>
</table>
```

Close button.

```html_example
<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
```


Text-alignments.

```html_example
<div style="width:100%">
  <div class="text-left">Text align left</div>
  <div class="text-center">Text align center</div>
  <div class="text-right">Text align right</div>
</div>
```
*/

.link-prefix::before {
  content: '>';
  vertical-align: 6%;
  padding: 0 0.2em 0 0;
  transition: padding 0.1s;
  /* Chrome ~= 43 wants inline block */
  display: inline-block;
}

.link-prefix::before {
  background-color: var(--body-background-color);
}

.link-prefix:matches(:hover, :focus)::before {
  padding: 0 0.1em 0 0.1em;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.flex-grow {
  display: flex;
  flex-grow: 1;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: none;
  border: 0;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.33;
  text-shadow: 0 1px 0 #fff;
}

.close:matches(:focus, :hover) {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}

@keyframes slide-in--to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: none;
  }
}

@keyframes slide-in--to-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: none;
  }
}

.slide-in {
  animation: 0.2s ease-out 0s normal forwards 1 running slide-in--to-right;
}

.slide-in--to-left {
  animation-name: slide-in--to-left;
}

@keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.fade-in {
  animation: 0.2s ease 0s normal forwards 1 running fade-in;
}

@keyframes loading-dots {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}

.loading-dots i {
  animation: loading-dots 1.3s infinite;
  font-style: normal;
  opacity: 1;
}

.loading-dots i + i {
  animation-delay: 0.1s;
  opacity: 0;
}

.loading-dots i + i + i {
  animation-delay: 0.2s;
}

@keyframes loadingbar-stripes {
  from {
    background-position: 45px 0;
  }
  to {
    background-position: 0 0;
  }
}

.btn.loading,
.nav-tabs .ember-transitioning-in,
.nav-side-list .ember-transitioning-in,
.loadingbar-stripes {
  position: relative;
  cursor: wait;
  z-index: 0;
}

.btn.loading::after,
.nav-tabs .ember-transitioning-in::after,
.nav-side-list .ember-transitioning-in::after,
.loadingbar-stripes::after {
  content: '';
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  animation: 2s linear 0s normal none infinite running loadingbar-stripes;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%, transparent
  );
  background-size: 45px 45px;
  z-index: -1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.loading-mask {
  position: relative;
}

.loading-mask::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.25);
}

.loading-mask::after {
  content: '';
  position: absolute;
  z-index: 2;
  border: 3px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  top:  calc(50% - 50px);
  left: calc(50% - 50px);
  animation: spin 2s infinite linear;
  filter: drop-shadow(0 0 2px rgba(0,0,0,.33));
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
