/*doc
---
title: Miscellaneous
name: misc
category: Miscellaneous
---

The link prefix can be used to prepend a '>' to a link.

```html_example
<a href="#" class="link-prefix">Foobar</a>
```

Caret to indicate dropdowns.

```html_example
<span class="caret"></span>
```

Loading dots.

```html_example
<div>
  Loading<span class="loading-dots"><i>.</i><i>.</i><i>.</i></span>
</div>
```
*/

.link-prefix::before {
  content: '>';
  vertical-align: 6%;
  padding: 0 0.2em 0 0;
  transition: padding 0.1s;
  /* Chrome ~= 43 wants inline block */
  display: inline-block;
}

.link-prefix::before {
  background-color: var(--body-background-color);
}

.link-prefix:matches(:hover, :focus)::before {
  padding: 0 0.1em 0 0.1em;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.flex-grow {
  display: flex;
  flex-grow: 1;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: none;
  border: 0;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.33;
  text-shadow: 0 1px 0 #fff;
}

.close:matches(:focus, :hover) {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}

@keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.fade-in {
  animation: 0.2s ease 0s normal forwards 1 running fade-in;
}

@keyframes loading-dots {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}

.loading-dots i {
  animation: loading-dots 1.3s infinite;
  font-style: normal;
  opacity: 1;
}

.loading-dots i + i {
  animation-delay: 0.1s;
  opacity: 0;
}

.loading-dots i + i + i {
  animation-delay: 0.2s;
}

@keyframes loadingbar-stripes {
  from {
    background-position: 45px 0;
  }
  to {
    background-position: 0 0;
  }
}

.btn.loading,
.nav-side-list .ember-transitioning-in,
.loadingbar-stripes {
  position: relative;
  cursor: wait;
  z-index: 0;
}

.btn.loading::after,
.nav-side-list .ember-transitioning-in::after,
.loadingbar-stripes::after {
  content: '';
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  animation: 2s linear 0s normal none infinite running loadingbar-stripes;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%, transparent
  );
  background-size: 45px 45px;
  z-index: -1;
}
