*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ol, ul {
  padding-left: 0;
}

:matches(ol, ul) li {
  margin-left: 0;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  line-height: inherit;
  margin: 0;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
