*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/**
 * Android 4.3-, Internet Explorer 11+, Windows Phone 8.1+
 */
main {
  display: block;
}

ol, ul {
  padding-left: 0;
  margin: 0;
}

:matches(ol, ul) > li {
  margin-left: 0;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  line-height: inherit;
  margin: 0;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
:matches(button, input)::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Internet Explorer 10-
 */
[hidden] {
  display: none;
}

/**
 * Android 4.3-, Internet Explorer 11+, iOS 7-, Safari 7-, Windows Phone 8.1+
 */
template {
  display: none;
}

/**
 * Internet Explorer 11+, Windows Phone 8.1+
 */
progress {
  display: inline-block;
}

/**
 * Fix font size in monospace elements
 * http://code.stephenmorley.org/html-and-css/fixing-browsers-broken-monospace-font-handling/
 */
pre, code, kbd, samp, tt {
  font-size: 1em;
}
