/*doc
---
title: Responsive Helpers
name: responsive-helpers
category: Miscellaneous
---

Hide helpers

```html_example
<div>
  <div class="hidden">Hide everywhere</div>
  <div class="hidden-xs">Hide on xs and upwards devices</div>
  <div class="hidden-sm">Hide on sm and upwards devices</div>
  <div class="hidden-md">Hide on md and upwards devices</div>
  <div class="hidden-lg">Hide on lg and upwards devices</div>
  <div class="hidden-xl">Hide on xl and upwards devices</div>
</div>
```

Visible helpers

```html_example
<div>
  <div class="visible-xs">Show on xs and upwards devices</div>
  <div class="visible-sm">Show on sm and upwards devices</div>
  <div class="visible-md">Show on md and upwards devices</div>
  <div class="visible-lg">Show on lg and upwards devices</div>
  <div class="visible-xl">Show on xl and upwards devices</div>
</div>
```
*/


.hidden,
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xl {
  display: none !important;
}

@media (--xs-viewport) {
  .visible-xs {
    display: block !important;
  }

  table.visible-xs {
    display: table !important;
  }

  tr.visible-xs {
    display: table-row !important;
  }

  :--table-cell.visible-xs {
    display: table-cell !important;
  }

  .hidden-xs {
    display: none !important;
  }
}

@media (--sm-viewport) {
  .visible-sm {
    display: block !important;
  }

  table.visible-sm {
    display: table !important;
  }

  tr.visible-sm {
    display: table-row !important;
  }

  :--table-cell.visible-sm {
    display: table-cell !important;
  }

  .hidden-sm {
    display: none !important;
  }
}

@media (--md-viewport) {
  .visible-md {
    display: block !important;
  }

  table.visible-md {
    display: table !important;
  }

  tr.visible-md {
    display: table-row !important;
  }

  :--table-cell.visible-md {
    display: table-cell !important;
  }

  .hidden-md {
    display: none !important;
  }
}

@media (--lg-viewport) {
  .visible-lg {
    display: block !important;
  }

  table.visible-lg {
    display: table !important;
  }

  tr.visible-lg {
    display: table-row !important;
  }

  :--table-cell.visible-lg {
    display: table-cell !important;
  }

  .hidden-lg {
    display: none !important;
  }
}

@media (--xl-viewport) {
  .visible-xl {
    display: block !important;
  }

  table.visible-xl {
    display: table !important;
  }

  tr.visible-xl {
    display: table-row !important;
  }

  :--table-cell.visible-xl {
    display: table-cell !important;
  }

  .hidden-xl {
    display: none !important;
  }
}
