/*doc
---
title: Buttons
name: buttons
category: Form
---
Basic usage:

```html_example
<button class="btn">Click me!</button>
<a class="btn">Click me!</a>
<input class="btn" type="button" value="Click me!">
```

Button styles:

```html_example
<button class="btn btn-primary">Click me!</button>
<button class="btn btn-success">Click me!</button>
<button class="btn btn-info">Click me!</button>
<button class="btn btn-warning">Click me!</button>
<button class="btn btn-danger">Click me!</button>
```

Loading button:

```html_example
<button class="btn btn-primary loading">Loading</button>
```
*/

@custom-selector :--button-types .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger;
@custom-selector :--button-active :active, .active;

.btn {
  display: inline-flex;
  /* Don't allow Chrome to make button smaller than content */
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0;
  padding: 0.75rem 1.25rem;
  border: 1px solid var(--color-border);
  border-bottom-width: 2px;
  background: #fff;
  border-radius: var(--button-border-radius);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  white-space: nowrap;
  min-height: 2rem;
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
  transition: color 0.2s ease 0s,
              background 0.2s ease 0s,
              border-color 0.2s ease 0s;
}

@media (--sm-viewport) {
  .btn {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
  }
}

.btn, .btn:visited {
  color: color(var(--body-color) l(+20%));
}

:--button-types {
  color: #fff;
}

:--button-types:visited {
  color: #fff;
}

.btn:hover, .btn:focus {
  color: var(--link-color);
  border-color: color(var(--link-color-highlight) l(+10%));
  text-decoration: none;
}

.btn:focus {
  outline: none;
}

.btn:--button-active {
  box-shadow: 0  1px 10px rgba(  0,   0,   0, 0.2) inset,
              0 -1px  0   rgba(255, 255, 255, 0.2) inset;
  border-top-width: 2px;
  border-bottom-width: 1px;
}

fieldset[disabled] .btn,
.btn[disabled] {
  cursor: not-allowed;
  background-color: var(--color-tertiary);
  border-color: color(var(--color-tertiary) l(-5%));
  color: color(var(--color-secondary) tint(50%));
  border-width: 1px;
  box-shadow: none;
}

.btn-primary {
  background-color: var(--color-primary);
  border-color: color(var(--color-primary) l(-5%));
}

.btn-primary:hover, .btn-primary:focus {
  background-color: color(var(--color-primary) l(-10%) s(+5%));
  border-color: color(var(--color-primary) l(-20%));
  color: #fff;
}

.btn-success {
  background-color: var(--color-success);
  border-color: color(var(--color-success) l(-5%));
}

.btn-success:hover, .btn-success:focus {
  background-color: color(var(--color-success) l(-10%) s(+5%));
  border-color: color(var(--color-success) l(-20%));
  color: #fff;
}

.btn-info {
  background-color: var(--color-info);
  border-color: color(var(--color-info) l(-5%));
}

.btn-info:hover, .btn-info:focus {
  background-color: color(var(--color-info) l(-10%) s(+5%));
  border-color: color(var(--color-info) l(-20%));
  color: #fff;
}

.btn-warning {
  background-color: var(--color-warning);
  border-color: color(var(--color-warning) l(-5%));
}

.btn-warning:hover, .btn-warning:focus {
  background-color: color(var(--color-warning) l(-10%) s(+5%));
  border-color: color(var(--color-warning) l(-20%));
  color: #fff;
}

.btn-danger {
  background-color: var(--color-danger);
  border-color: color(var(--color-danger) l(-5%));
}

.btn-danger:hover, .btn-danger:focus {
  background-color: color(var(--color-danger) l(-10%) s(+5%));
  border-color: color(var(--color-danger) l(-20%));
  color: #fff;
}

.btn-link {
  color: var(--link-color);
  padding: 0;
  margin: 0;
  border: none;
  display: inline;
  line-height: inherit;
  text-transform: none;
  min-height: auto;
  letter-spacing: normal;
}

.btn-link, .btn-link:--button-active, .btn-link:focus, .btn-link:hover {
  border-color: transparent;
  background: none;
  box-shadow: none;
}
