/*doc
---
title: Form Group
name: form-group
category: Form
---

Bootstrap-like Form-Group:

```html_example
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <input  id="checkMeOut" type="checkbox">
    <label for="checkMeOut">
      Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

```

Inline-Form-Group:

```html_example
<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
  </div>
  <div class="checkbox">
    <input  id="rememberMe" type="checkbox">
    <label for="rememberMe">
      Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form>
```

Disabled form controls:

```html_example
<form>
  <fieldset disabled>
    <div class="form-group">
      <label for="disabledTextInput">Disabled input</label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
    </div>
    <div class="form-group">
      <label for="disabledSelect">Disabled select menu</label>
      <select id="disabledSelect" class="form-control">
        <option>Disabled select</option>
      </select>
    </div>
    <div class="checkbox">
      <input id="cant-check-this" type="checkbox">
      <label for="cant-check-this">
        Can't check this
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
```

*/

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.form-control::placeholder {
  color: rgb(153, 153, 153);
  opacity: 1;
}

.form-control {
  display: block;
  width: 100%;
  height: 2rem;
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  line-height: 1.5;
  color: rgb(85, 85, 85);
  background-color: rgb(255, 255, 255);
  background-image: none;
  border: 1px solid rgb(204, 204, 204);
  border-radius: var(--input-border-radius);
  box-shadow: var(--input-box-shadow);
  transition: border-color 0.15s, box-shadow 0.15s;
}

select.form-control[multiple] {
  height: auto;
  padding: 0.1rem 0.2rem;
}

select.form-control[multiple] > option {
  margin: 2px 0;
  padding: 2px 0.3rem;
}

select.form-control[multiple] > :matches([selected], :checked) {
  border-radius: var(--input-border-radius);
}

select.form-control {
  appearance: none;
}

select.form-control::-ms-expand {
  display: none;
}

select.form-control:not([multiple]) {
  background-image: url('data:image/svg+xml,<svg height="512" version="1.1" viewBox="0 0 512 512" width="512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M98.9 184.7l1.8 2.1 136 156.5c4.6 5.3 11.5 8.6 19.2 8.6 7.7 0 14.6-3.4 19.2-8.6L411 187.1l2.3-2.6c1.7-2.5 2.7-5.5 2.7-8.7 0-8.7-7.4-15.8-16.6-15.8v0H112.6v0c-9.2 0-16.6 7.1-16.6 15.8C96 179.1 97.1 182.2 98.9 184.7z"/></svg>');
  background-position: right 0.5rem center;
  background-size: 22px;
  background-repeat: no-repeat;
  padding-right: 2rem;
}

.form-control:focus {
  border-color: color(var(--color-primary) tint(20%));
  outline: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
              0 0   8px color(var(--color-primary) a(60%));
}

.form-control:invalid {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
              0 0   8px color(var(--color-danger) a(60%));
}

.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}

.form-control:matches([disabled], [readonly]),
fieldset[disabled] .form-control {
  background-color: rgb(238, 238, 238);
}

@media (--sm-viewport) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .form-inline :matches(.checkbox, .radio) {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-inline .btn {
    display: inline-block;
  }
}
