/*doc
---
title: Page
name: page
category: Grid
---
The top level of a application / website is the `page`, it behaves like a much simpler `grid`:

```html_example
<!-- the .page element is usually the `body` -->
<div class="page">
  <!-- .page-viewport wraps the whole content (for ember applications, this would be the root element -->
  <div class="page-viewport">
    <!-- .page-content contains all the page specific content -->
    <main class="page-main" style="background: #bbb">
      <section class="page-content">
        <header class="page-content-header">
          <h1>Page header</h1>
        </header>
        <section class="page-content-main">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </section>
        <footer class="page-content-footer">
          <small>&copy; Page footer</small>
        </footer>
      </section>
    </main>
  </div>
</div>
```

Modifiers:

- `page-content--scroll` Makes page-content scrollable
- `page-main--scroll` Makes page-main scrollable

*/
.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
}

.page-viewport,
.page.ember-application > .ember-view {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.page-viewport--column,
.page--column.ember-application > .ember-view {
  flex-direction: column;
}

.page-content-header,
.page-content-footer {
  flex: 0 0 auto;
}

.page-content {
  flex-direction: column;
}

.page-main, .page-content {
  display: flex;
  background: var(--body-background-color);
  flex-grow: 1;
}

.page-content--scroll,
.page-main--scroll {
  height: 100vh;
  overflow: auto;
}

.page-content-main {
  flex: 1 0 auto;
}

.page-content {
  flex-grow: 1;
  padding: var(--page-padding) var(--page-padding) 0;
}

@media (--xs-viewport) {
  .page-content {
    padding: calc(var(--page-padding) * 1.5) calc(var(--page-padding) * 1.5) 0;
  }
}

@media (--md-viewport) {
  .page-content {
    padding: calc(var(--page-padding) * 2) calc(var(--page-padding) * 2) 0;
  }
}
