/*doc
---
title: Page
name: page
category: Grid
---
The top level of a application / website is the `page`, it behaves like a much simpler `grid`:

```html_example
<!-- the .page element is usually the `body` -->
<div class="page">
  <!-- .page-viewport wraps the whole content (for ember applications, this would be the root element -->
  <div class="page-viewport">
    <!-- .page-content contains all the page specific content -->
    <main class="page-content" style="background: #bbb">
      <header class="page-header">
        <h1>Page header</h1>
      </header>
      <section class="page-main">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </section>
      <footer class="page-footer">
        <small>&copy; Page footer</small>
      </footer>
    </main>
  </div>
</div>
```

Modifiers:

- `page-content--scroll` Makes page-content scrollable

*/
.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
}

.page-viewport,
.page.ember-application > .ember-view {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.page-viewport--column,
.page--column.ember-application > .ember-view {
  flex-direction: column;
}

.page-header,
.page-footer {
  flex: 0 0 auto;
}

.page-content {
  display: flex;
  background: var(--body-background-color);
  flex-grow: 1;
}

.page-content--scroll,
.page-main--scroll {
  height: 100vh;
  overflow-y: auto;
}

.page-main {
  flex: 1 0 auto;
  padding: var(--page-padding) var(--page-padding) 0;
}

@media (--xs-viewport) {
  .page-main {
    padding: calc(var(--page-padding) * 1.5) calc(var(--page-padding) * 1.5) 0;
  }
}

@media (--md-viewport) {
  .page-main {
    padding: calc(var(--page-padding) * 2) calc(var(--page-padding) * 2) 0;
  }
}
