.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-viewport {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.page-viewport--column {
  flex-direction: column;
}

.page-header,
.page-footer {
  flex: 0 0 auto;
}

.page-content {
  background: var(--body-background-color);
  flex-grow: 1;
  padding: var(--page-padding) var(--page-padding) 0;
}

@media (--sm-viewport) {
  .page-content {
    padding: calc(var(--page-padding) * 1.5) calc(var(--page-padding) * 1.5) 0;
  }
}
