/*

TODO: Document and add JavaScript for non-ember apps

<div>
  <ul class="nav nav-tabs">
    <li><a href="#home" class="active">Home</a></li>
    <li><a href="#profile">Profile</a></li>
    <li><a href="#messages">Messages</a></li>
    <li><a href="#settings">Settings</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="home">...</div>
  </div>
</div>
*/

.nav-tabs {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  border-bottom: 1px solid var(--color-border);
}

.nav-tabs > li {
  display: flex;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  padding: 0.5rem 1rem;
  margin-right: 2px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:matches(.active, :focus) {
  border-bottom-color: transparent;
}

.nav-tabs > li > a:focus {
  outline: 0;
  border-color: color(var(--color-border) tint(20%));
  border-style: dotted;
}

.nav-tabs > li > a.active {
  border-color: var(--color-border);
  border-style: solid;
  background-color: #fff;
  color: color(var(--body-color) tint(30%));
}

.tab-content {
  padding-top: 0.75rem;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}
