.nav-toggle {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  width: 54px;
  flex: 0 0 54px;
  cursor: pointer;
  background-color: var(--color-menu);
}

.nav-toggle:focus {
  outline: thin dotted;
  outline-offset: -4px;
}

.nav-toggle::before {
  content: '\f0c9';
  display: inline-block;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
}
