/*doc
---
title: Topbar Navigation
name: nav-top
category: Components
---

Example:

```html_example
<nav class="nav-top">
  <header class="nav-top-header">
    <button class="nav-toggle nav-top-toggle" onclick="this.parentNode.parentNode.classList.toggle('nav-top--expand')"></button>
    <a href="#">
      <div class="nav-top-header-logo"></div>
      <div class="nav-top-header-title">Foobar</div>
    </a>
  </header>
  <section class="nav-top-body">
    <ul class="nav-top-list">
      <li class="nav-top-list-item">
        <a href="#">
          <i class="ion-person"></i>
          Users
        </a>
      </li>
      <li class="nav-top-list-item">
        <a href="#">
          Teams
        </a>
      </li>
    </ul>
    <ul class="nav-top-list nav-top-list--right">
      <li class="nav-top-list-item">
        <a href="#">
          <i class="ion-email-unread"></i>
          Messages
        </a>
      </li>
      <li class="nav-top-list-item">
        <a href="#">
          <i class="ion-power"></i>
          Logout
        </a>
      </li>
    </ul>
  </section>
</nav>
```

Modifiers:

- `nav-top--fixed` Sets the navigation fixed on top

*/
.nav-top {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-menu);
  border-bottom: 1px solid var(--color-border);
  z-index: 1000;
}

.nav-top--fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-top--fixed + * {
  margin-top: calc(50px + 1px);
}

.nav-top + .page-content--scroll {
  height: calc(100vh - 50px - 1px);
}

.nav-top-header,
.nav-top-header a {
  display: flex;
}

.nav-top-header {
  justify-content: space-between;
}

.nav-top-header-logo {
  width: 40px;
  height: 40px;
  background: url(../pictures/logo/sy.png);
  background-size: 40px 40px;
  border-radius: var(--nav-logo-border-radius);
  margin-right: 0.5rem;
}

.nav-top-header-logo,
.nav-top-header-title {
  align-self: center;
}

.nav-top-header-title {
  color: color(var(--body-color) l(+10%));
  margin-right: 0.5rem;
}

.nav-top--expand .nav-top-body {
  display: block;
  max-height: 400px;
  overflow-y: auto;
}

.nav-top-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.2s;
}

.nav-top-list {
  display: flex;
  flex-direction: column;
  font-size: calc(var(--nav-font-size) * 1.25);
  line-height: 2rem;
  list-style: none;
}

.nav-top-list a {
  flex-grow: 1;
  padding: 0.75rem 0.75rem;
}

.nav-top-list a:hover {
  color: #fff;
  background: var(--color-primary);
}

.nav-top-list-item {
  display: flex;
}

.nav-top-list a {
  color: color(var(--link-color) l(-20%));
  transition: color 0.2s, background-color 0.2s;
}

@media (--nav-top-mobile-width) {
  .nav-top {
    flex-direction: row;
    padding: 0 var(--page-padding);
  }

  .nav-top-toggle {
    display: none;
  }

  .nav-top-header {
    justify-content: left;
  }

  .nav-top-body {
    display: flex;
    flex-grow: 1;
    max-height: 50px;
    transition: none;
  }

  .nav-top-list {
    height: 50px;
    flex-direction: row;
    font-size: var(--nav-font-size);
  }

  .nav-top-list--right {
    margin-left: auto;
  }

  .nav-top-list a {
    align-self: center;
    padding: 1rem 0.5rem;
    border-bottom-right-radius: var(--nav-item-border-radius);
    border-bottom-left-radius: var(--nav-item-border-radius);
  }
}
