/*doc
---
title: Sidebar Navigation
name: nav-side
category: Components
---

Example:

```html_example
<nav class="nav-side">
  <header class="nav-side-header">
    <button class="nav-toggle nav-side-toggle" onclick="this.parentNode.parentNode.classList.toggle('nav-side--expand')"></button>
    <a href="#">
      <div class="nav-side-header-logo"></div>
      <div class="nav-side-header-title">Foobar</div>
    </a>
  </header>
  <section class="nav-side-body">
    <ul class="nav-side-list">
      <li class="nav-side-list-header">Settings</li>
      <li class="nav-side-list-item">
        <a href="#">
          <i class="fa fa-user"></i>
          Users
        </a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">
          <i class="fa fa-users"></i>
          Teams
        </a>
      </li>
    </ul>
  </section>
</nav>
<main class="page-main">
  <!-- content -->
</main>
<div class="page-main-overlay" onclick="this.previousElementSibling.previousElementSibling.classList.toggle('nav-side--expand')"></div>
```
*/
.nav-side {
  display: flex;
  flex-direction: column;
  background-color: var(--color-menu);
  border-right: 1px solid var(--color-border);
  z-index: 1000;
  flex-basis: 55px;
  flex-shrink: 0;
  transition: flex-basis 0.2s, transform 0.2s;
  height: 100vh;
}

.nav-side-header {
  display: flex;
  align-items: center;
}

.nav-side-body {
  font-size: 0;
  flex-grow: 1;
  overflow-y: auto;
}

.nav-side-body i {
  font-size: 2rem;
  flex-shrink: 0;
}

.nav-side-toggle {
  width: 54px;
  height: 44px;
}

.nav-side--expand {
  flex-basis: 240px;
}

.nav-side--expand + .page-main {
  margin-right: -240px;
}

.page-main-overlay {
  background-color: #000;
  transition: left 0.2s, opacity 0.2s, position 0.2s;
  opacity: 0;
  left: 0;
}

.nav-side--expand + .page-main + .page-main-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 240px;
  opacity: 0.4;
  z-index: 900;
}

.page-main {
  transition: margin-right 0.2s;
}

.nav-side-list {
  list-style: none;
  line-height: 3rem;
}

.nav-side-list:first-child .nav-side-list-header {
  margin-top: 0;
}

.nav-side-list a,
.nav-side-list-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-side-list-header {
  color: color(var(--body-color) l(+20%));
  letter-spacing: 1px;
  margin-top: 1rem;
  line-height: 2rem;
  text-transform: uppercase;
  display: none;
}

.nav-side-header-title {
  display: none;
  font-weight: 700;
  color: color(var(--body-color) l(+10%));
}

.nav-side--expand :matches(.nav-side-list a,
                           .nav-side-list-header) {
  justify-content: flex-start;
}

.nav-side--expand .nav-side-list-header,
.nav-side--expand .nav-side-header-title  {
  display: block;
}

.nav-side--expand .nav-side-list {
  font-size: var(--nav-font-size);
}

.nav-side--expand :matches(.nav-side-list a, .nav-side-list-header) {
  padding: 0 0.5rem;
}

.nav-side--expand .nav-side-list i {
  margin-right: 0.5rem;
  text-align: center;
  width: 1.5em;
}

.nav-side--expand .nav-side-body i:not([class])::before {
  content: '';
  display: inline-block;
}

.nav-side-list a {
  color: color(var(--link-color) l(-20%));
  transition: color 0.2s, background-color 0.2s;
}

.nav-side-list a:matches(:hover, .active) {
  color: #fff;
  background: var(--color-primary);
}

.nav-side-list a.ember-transitioning-in {
  color: #fff;
  background: color(var(--color-primary) tint(30%));
}

.nav-side-footer .nav-hide {
  display: none;
}

@media (--nav-side-mobile-width-unhide) {
  .nav-side {
    position: relative;
    display: flex;
    flex-basis: 172px;
    flex-direction: column;
    background-color: var(--color-menu);
    border-right: 1px solid var(--color-border);
    z-index: 1000;
  }

  .nav-side--autohide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    min-width: 172px;
    transform: translateX(calc(-100% + 25px));
  }

  .nav-side--autohide:hover {
    transform: none;
  }

  .nav-side--autohide + * {
    padding-left: 25px;
  }

  .nav-side-list:first-child .nav-side-list-item:first-child {
    margin-top: 1rem;
  }

  .nav-side-toggle,
  .nav-side--expand + .page-main + .page-main-overlay {
    display: none;
  }

  .nav-side--expand + .page-main {
    margin-right: 0;
  }

  .nav-side--right {
    order: 1;
    border-right: none;
    border-left: 1px solid var(--color-border);
  }

  .nav-side-header-title {
    display: block;
    margin-top: 1rem;
    padding-right: 1rem;
  }

  .nav-side-header,
  .nav-side-header > a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .nav-side-header > a {
    flex-grow: 1;
  }

  .nav-side-header-logo {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background: url(../pictures/logo/sy.png);
    background-size: 32px 32px;
    margin: 1rem 0.5rem 0 1rem;
    border-radius: var(--nav-logo-border-radius);
  }

  .nav-side-body {
    flex-grow: 1;
    overflow-y: auto;
    width: auto;
    font-size: inherit;
  }

  .nav-side-body i {
    font-size: inherit;
  }

  /* Match selector weight with .nav-side--expand */
  .nav-side .nav-side-list {
    padding: 0 1rem 0 0;
    font-size: var(--nav-font-size-unhide);
    line-height: 1.5 !important;
  }

  .nav-side--right .nav-side-list {
    padding: 0 0 0 1rem;
  }

  /* Match selector weight with .nav-side--expand */
  .nav-side :matches(.nav-side-list a, .nav-side-list-header) {
    padding: 0.3rem 1rem;
  }

  .nav-side-list a {
    justify-content: flex-start;
    border-top-right-radius: var(--nav-item-border-radius);
    border-bottom-right-radius: var(--nav-item-border-radius);
  }

  .nav-side--right .nav-side-list a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--nav-item-border-radius);
    border-bottom-left-radius: var(--nav-item-border-radius);
  }

  .nav-side-list-header {
    display: block;
  }

  .nav-side-list i {
    margin-right: 0.5rem;
    text-align: center;
    width: 1.5em;
  }

  .nav-side-body i:not([class])::before {
    content: '';
  }

  .nav-side-footer {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 3rem;
  }

  .nav-side-footer .nav-hide {
    display: flex;
  }
}
